html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    flex-grow: 1;
}

.content-wrapper {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.footer a {
    color: #ffffff;
    text-decoration: underline;
}

    .footer a:hover {
        color: #d4d4d4;
    }


.alert-timer-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    animation: timer-bar-slide 3s linear forwards;
}

@keyframes timer-bar-slide {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

#autoCloseAlert:hover .alert-timer-bar {
    animation-play-state: paused;
}